OPENAI_API_KEY=your_openai_api_key_here
BASE_URL=https://genailab.tcs.in/
DEFAULT_MODEL=genailab-maas-gpt-4o
CLASSIFIER_MODEL=azure/genailab-maas-gpt-4.1-mini
EMBEDDING_MODEL=azure/genailab-maas-text-embedding-3-large
REASONING_MODEL=azure_ai/genailab-maas-DeepSeek-R1
