OPENAI_API_KEY=sk-vvQ3gM9dUe3UOpBc1a4aTA
BASE_URL=https://genailab.tcs.in/
DEFAULT_MODEL=genailab-maas-gpt-4o
CLASSIFIER_MODEL=azure/genailab-maas-gpt-4.1-mini
EMBEDDING_MODEL=azure/genailab-maas-text-embedding-3-large
REASONING_MODEL=azure_ai/genailab-maas-DeepSeek-R1
